* {
    box-sizing: border-box;
    font-family: Roboto, Sans;
}

body {
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
}

header {
    background-color: black;
    height: 56px;
    display: flex;
    color: white;
    justify-content: space-between;
    flex-shrink: 0;
    align-items: center;
    padding: 0 .5rem;
}

aside {
    background-color: yellow;
}

main, .side-menu, .main-content {
    overflow-y: scroll;
}

main {
    background-color: cornflowerblue;
    flex-grow: 1;
    display: flex;
}

.side-menu {
    background-color: yellow;
    width: 240px;
    flex-shrink: 0;
    flex-grow: 0;

}

.main-content {
    background-color: lime;
    flex-grow: 1;
/*  Flex grow determines the width, 2 would mean twice the size
    of the first child. 1 makes it take the remaining width of the page */
}

.menu-button-and-logo {
    display: flex;
    gap: 1.5rem;
    align-items: center;
}

.menu-button-and-logo div {
    height: 20px;
}

.settings-button {
    background: none;
    color: white;
    border: none;
}

.sign-in-button {
    background: transparent;
    color: #3ea6ff;
    border-radius: 20px;
    padding: .5rem;
    font-weight: normal;
    font-size: 14px;
    border: 1px solid #3f3f3f;
    display: inline-flex;
    gap: .5rem;
    align-items: center;

}

.sign-in-button:hover {
    background-color: #263850;
    border-color: transparent;
    cursor: pointer;
}
